html {
  scroll-behavior: smooth;

  /* Chrome, Safari, and newer Edge (WebKit) */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Firefox */
  scrollbar-width: none;

  /* Internet Explorer and older Edge */
  -ms-overflow-style: none;
}
